BeautifulSoup4
validators
azure-cognitiveservices-vision-computervision==0.9.0
azure-cognitiveservices-speech
pydub
datatypes-date-time===1.0.0a2
botbuilder-integration-aiohttp>=4.14.0
botbuilder-ai>=4.14.0
botbuilder-dialogs>=4.14.0
matplotlib==3.5.1
msrest==0.6.10
Pillow==9.4.0
bcrypt==4.0.1
requests==2.23.0
azure-cognitiveservices-vision-computervision==0.9.0
pandas==1.1.5
aiohttp